<div class="choose-verification-way">
  {{#d-modal-body title="communitarian.create_account.choose_verification_way.title"}}
    <p>We believe that the core to a civil conversation is to present your point-of-view and stand behind it without concealing your identity.</p>
    <div class="radios">
      <label class="radio-label" for="verification-choice-card" style="display:block;">
        {{radio-button
          name="verification-choice"
          id="verification-choice-card"
          value="card"
          onChange=(action "changeVerificationChoice")}}
        <b>Verification with Debit or Credit Card</b>
        <p style="margin-left:25px;">{{I18n "communitarian.create_account.choose_verification_way.card_description" }}</p>
      </label>

      <label class="radio-label" for="verification-choice-identity" style="display:block;">
        {{radio-button
          name="verification-choice"
          id="verification-choice-identity"
          value="identity"
          onChange=(action "changeVerificationChoice")}}
        <b>Verification with ID</b>
        <p style="margin-left:25px;">{{I18n "communitarian.create_account.choose_verification_way.identity_description" }}</p>
        <p style="margin-left:25px;">{{I18n "communitarian.create_account.choose_verification_way.identity_example" }}</p>
      </label>
    </div>
  {{/d-modal-body}}

  <div class="modal-footer">
    {{d-button
      class="btn-large btn-primary"
      action=(action "showNextStep")
      disabled=submitDisabled
      label="communitarian.create_account.continue"
    }}
  </div>
</div>
