{{#create-account email=accountEmail disabled=submitDisabled action=(action "submitForm")}}
  {{#unless complete}}
    {{plugin-outlet name="create-account-before-modal-body"}}
    {{#d-modal-body title="communitarian.create_account.title" class=(concat (if hasAtLeastOneLoginButton "has-alt-auth") " " (if userFields "has-user-fields"))}}

      {{#if showCreateForm}}
        <div class="login-form">
          <form>
            <table>
              <tbody>
                {{#if hasAuthOptions}}
                  <span id="new-account-email" class="static create-account-email">{{accountEmail}}</span>
                {{else}}
                  <tr class="input create-account-email">
                    <td class="label">
                      <label for="new-account-email">{{i18n "user.email.title"}}</label>
                      <span class="instructions">{{i18n "user.email.instructions"}}</span>
                    </td>
                    <td>
                      {{input type="email" value=accountEmail id="new-account-email" disabled=emailValidated name="email" autofocus="autofocus"}}
                    </td>
                  </tr>
                {{/if}}

                <tr class="instructions create-account-email">
                  <td></td>
                  {{input-tip validation=emailValidation id="account-email-validation"}}
                </tr>

                {{plugin-outlet
                  name="create-account-before-password"
                  noTags=true
                  args=(hash
                    accountName=accountName
                    accountUsername=accountUsername
                    accountPassword=accountPassword
                    userFields=userFields
                    authOptions=authOptions
                  )
                }}

                {{#if passwordRequired}}
                  <tr class="input">
                    <td class="label">
                    <label for="new-account-password">{{i18n "user.password.title"}}</label>
                    <span class="instructions">{{passwordInstructions}}</span>
                    </td>
                    <td>
                      {{password-field value=accountPassword type="password" id="new-account-password" capsLockOn=capsLockOn}}
                    </td>
                  </tr>
                  <tr class="instructions">
                    <td></td>
                    {{input-tip validation=passwordValidation}}
                    <td>
                      <div class="caps-lock-warning {{unless capsLockOn "hidden"}}">
                        {{d-icon "exclamation-triangle"}} {{i18n "login.caps_lock_warning"}}
                      </div>
                    </td>
                  </tr>
                {{/if}}

                <tr class="password-confirmation">
                  <td><label for="new-account-password-confirmation">{{i18n "user.password_confirmation.title"}}</label></td>
                  <td>
                    {{honeypot-input id="new-account-confirmation" autocomplete="new-password" value=accountHoneypot}}
                    {{input value=accountChallenge id="new-account-challenge"}}
                  </td>
                </tr>

                {{#if requireInviteCode }}
                  <tr class="invite-code">
                    <td><label for="invite-code">{{i18n "user.invite_code.title"}}</label></td>
                    <td>
                      {{input value=inviteCode id="inviteCode"}}
                    </td>
                    <td><label>{{i18n "user.invite_code.instructions"}}</label></td>
                  </tr>
                {{/if}}

                {{plugin-outlet
                  name="create-account-after-password"
                  noTags=true
                  args=(hash
                    accountName=accountName
                    accountUsername=accountUsername
                    accountPassword=accountPassword
                    userFields=userFields
                  )
                }}
              </tbody>
            </table>
          </form>
        </div>
      {{/if}}
    {{/d-modal-body}}

    {{#if showCreateForm}}
      <div class="modal-footer">
        {{d-button
          class="btn-large btn-primary verification-continue"
          action=(action "submitForm")
          disabled=submitDisabled
          label=nextStepLabel
        }}

        {{#unless hasAuthOptions}}
          <span class="verification-next-step">{{i18n "communitarian.create_account.next_verification"}}</span>

          {{login-buttons externalLogin=(action "externalLogin") buttons=authButtons}}
        {{/unless}}
      </div>

      <div class="disclaimer">{{html-safe disclaimerHtml}}</div>

      {{plugin-outlet name="create-account-after-modal-footer" tagName=""}}
    {{/if}}
  {{/unless}}
{{/create-account}}
