<div class="resolution-form">
  {{#d-modal-body title=formTitle class="poll-ui-builder"}}
    <form class="poll-ui-builder-form form-horizontal" {{action "submitResolution" on="submit"}}>
      <div class="input-group poll-textarea">
        <label>{{i18n "communitarian.resolution.ui_builder.title.label"}}</label>
        {{text-field value=title
          id="resolution-title"
          maxLength=titleMaxLength
          class="resolution-form-title"
          aria-label=(I18n "communitarian.resolution.ui_builder.title.label")
          autocomplete="discourse"}}
      </div>
      {{input-tip validation=titleMaxLengthValidation}}

      <div class="body-content">
        <div class="options">
          <div class="input-group poll-textarea">
            <label>{{i18n "communitarian.resolution.ui_builder.poll_options.label"}}</label>
            {{textarea value=pollOptions autocomplete="discourse"}}
          </div>
          {{input-tip validation=minNumOfOptionsValidation}}
        </div>

        <div class="d-editor-preview resolution-form-preview">
          {{cook-text this.previewText}}
        </div>
      </div>

    </form>
  {{/d-modal-body}}

  <div class="modal-footer">
    <div class="resolution-modal-footer-buttons">
      {{d-button action=(action "submitResolution") class="btn-primary" label=buttonLabel disabled=disabledButton}}
    </div>
    <div class="resolution-modal-footer-reminder">
      <p>{{autoCloseReminder}} {{activePeriodNote}}</p>
    </div>
  </div>
</div>
