{{#each categories as |c|}}
  <div data-category-id={{c.id}} data-notification-level={{c.notificationLevelString}} data-url={{c.url}} class="category category-box category-box-{{c.slug}} {{if c.isMuted "muted"}} {{if noCategoryStyle "no-category-boxes-style"}}">
    <div class="category-box-inner">
      {{#unless c.isMuted}}
        <div class="category-logo">
          {{#if c.uploaded_logo.url}}
            {{cdn-img
              src=c.uploaded_logo.url
              class="logo"
              width=c.uploaded_logo.width
              height=c.uploaded_logo.height
            }}
          {{else}}
            <img src={{siteSettings.favicon}} class="placeholder" alt={{c.name}}>
          {{/if}}
        </div>
      {{/unless}}
      <div class="category-details">
        <div class="category-box-heading">
          <a class="parent-box-link" href={{c.url}}>
            <h3>
              {{#if c.read_restricted}}
                {{d-icon "lock"}}
              {{/if}}
              {{c.name}}
            </h3>
          </a>
        </div>

        {{#unless c.isMuted}}
          <div class="description">
            {{text-overflow class="overflow" text=c.description_excerpt}}
          </div>
        {{/unless}}
      </div>
    </div>
  </div>
{{/each}}
<div class="category category-box">
  <div class="category-box-inner">
    <div class="category-logo">
      <img src={{siteSettings.favicon}} class="placeholder" alt={{i18n "communitarian.landing.communities_header.link"}}>
    </div>
    <div class="category-details">
      <div class="category-box-heading">
        {{#link-to "discovery.categories" class="parent-box-link"}}
          <h3>{{i18n "communitarian.landing.communities_header.link"}}</h3>
        {{/link-to}}
      </div>
    </div>
  </div>
</div>