{{!-- prepared code --}}
{{!--
<div class="ongoing-dialog-list__header">
  <span class="ongoing-dialog-list__header-title">
    {{i18n "communitarian.ongoing-dialogs.header_title"}}
  </span>
</div>

{{#unless topic.isPrivateMessage}}
  {{#each topic.suggestedTopics as |dialog|}}
  {{dialog-list-item dialog=dialog}}
  {{/each}}
{{/unless}}
--}}
{{!-- /prepared code --}}

{{!-- /default code --}}
<div id="suggested-topics" class="suggested-topics" role="complementary" aria-labelledby="suggested-topics-title">
  <div class="topics">
    {{#if topic.isPrivateMessage}}
    {{basic-topic-list
        hideCategory="true"
        showPosters="true"
        topics=topic.suggestedTopics
      }}
    {{else}}
    {{basic-topic-list topics=topic.suggestedTopics}}
    {{/if}}
  </div>
</div>
