<div class="resolution-list-item">
  <div class="resolution-list-item__header">
    <span>{{i18n "communitarian.resolution.list.date" period=formattedActionPeriod}}</span>
    <span>{{i18n "communitarian.resolution.list.votes" voters=openedPoll.voters}}</span>
  </div>
  <p class="resolution-list-item__name">
    {{~topic-link resolution class="raw-link raw-topic-link"}}
  </p>
  <ul class="resolution-list-item__options-list">
    {{#each openedPoll.options as |poll_option|}}
      <li class="resolution-list-item__option">
        <label for="votes" class="resolution-list-item__option-name">
          {{poll_option.html}}
        </label>
        <div class="resolution-list-item__option-value-wrap">
          <div class="resolution-list-item__option-value {{if (compare poll_option.votes '===' mostPopularOption) "max"}}"
              style={{getPercentWidth poll_option.votes mostPopularOption}}>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
