{{#d-section class="navigation-container"}}
  {{add-category-tag-classes category=category}}

  {{!-- custom code started here ↓ --}}
  <section class="category-header">
    <div class="page-header__title-wrap">
      <h2 class="page-header__title">{{category.name}}</h2>
      <div class="page-header__button-list">
        <div class="page-header__button-list-left">
          {{#if isAuthorized}}
            {{community-action
              category=category
              class="page-header__button"
              createTopic=(route-action "createTopic")
            }}
          {{/if}}
        </div>

        <div class="page-header__button-list-right">
          {{d-button
            action=(action "goToResolutionsPage")
            label="communitarian.dialog.resolutions_link"
            class="link-button page-header__button"
          }}
          {{new-topic-dropdown
            class="page-header__button"
            createDialog=(route-action "createTopic")
            args=(hash
              canCreateTopic=canCreateTopic
              createTopicDisabled=createTopicDisabled
              createTopicButtonDisabled=createTopicButtonDisabled
            )
          }}
        </div>
      </div>
    </div>
    {{#if category.description}}
      <span class="page-header__description">{{dir-span category.description}}</span>
    {{/if}}
  </section>
  {{!-- custom code ended here ↑ --}}

  <div class="category-navigation">
    {{d-navigation
      category=category
      filterMode=filterMode
      noSubcategories=noSubcategories
      canCreateTopic=canCreateTopic
      createTopic=(route-action "createTopic")
      createTopicDisabled=cannotCreateTopicOnCategory
      hasDraft=draft
      editCategory=(route-action "editCategory" category)}}

    {{plugin-outlet name="category-navigation" args=(hash category=category)}}
  </div>
{{/d-section}}
